<?php /** *  Template Name: 一覧ページ */ ?>
<?php include('head.php'); ?>
%body
  .outer
    <?php include('components-php/header.php'); ?>
    %ul.breadcrumb
      %li
        一覧ページ
    .archive-banner
      %h1.archive-banner__header
        <?php echo get_the_archive_title(); ?> に関する記事一覧
      :plain
        <?php if ( is_category( 'lifestyle' ) ) : ?>
          <div class="archive-banner__keyword">
            <div class="keywords">
              <ul class="archive-banner__lists">
                <li class="archive-banner__list"><a href="<?php echo get_tag_link(83); ?>">雑貨</a></li>
                <li class="archive-banner__list"><a href="<?php echo get_tag_link(83); ?>">ガーデニング</a></li>
                <li class="archive-banner__list"><a href="<?php echo get_tag_link(83); ?>">DIY</a></li>
                <li class="archive-banner__list"><a href="<?php echo get_tag_link(83); ?>">ライフスタイル</a></li>
            </div>
          </div>
        <?php endif; ?>
      　

    .outer__inner.flexbox--h-center.flexbox--spacearound
      <?php include('components-php/side-menu-list.php'); ?>
      .column-6.middle-contain
        %ul.article-list
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
        <?php include('components-php/more-search-article.php'); ?>
        <?php include('components-php/sns-box.php'); ?>
        <?php include('components-php/shopping-box.php'); ?>
      .column-4.side-contain
        <?php include('components-php/featured-box.php'); ?>
        <?php include('components-php/news-list.php'); ?>
        <?php include('components-php/keywords.php'); ?>
        <?php include('components-php/models-lists.php'); ?>
<?php include('components-php/footer.php'); ?>

