.article-sns-btns.flexbox
  <img src="<?php echo get_template_directory_uri(); ?>/images/facebook-btn.svg" width="110px">
  <img src="<?php echo get_template_directory_uri(); ?>/images/twitter-btn.svg" width="110px">
  <img src="<?php echo get_template_directory_uri(); ?>/images/poket-btn.svg" width="110px">