%footer.footer
  .outer__foot
    .footer__top-content.flexbox
      .footer__sns-icons.flexbox
        <img src="<?php echo get_template_directory_uri(); ?>/images/white-facebook.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/white-twitter.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/white-instagram.svg">
      .footer__logo-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/white-logo.svg" width="50">
      %p.footer__about-detail-text
        アニーは、日本ではまだ知られていないアメリカ現地の人気（日本未上陸）ブランドを紹介するオンラインショッピングメディアです。
    .footer__bottom-content.flexbox--h-center
      .footer__container
        %dl
          %dt
            セキュリティー
          %dd
            %ul
              %li
                > 利用規約
              %li
                %a{:href => "./policy.php"}
                  > プライバシーポリシー
      .footer__container
        %dl
          %dt
            カテゴリー
          %dd
            %ul.flexbox
              .footer__box1
                %li
                  > ファッション
                %li
                  > ビューティー
              .footer__box2
                %li
                  > ライフスタイル
                %li
                  > インテリア
      .footer__container
        %dl
          %dt
            アイテム
          %dd
            %ul.flexbox
              .footer__box1
                %li
                  > トップス
                %li
                  > ボトムス
              .footer__box2
                %li
                  > アクセサリー
                %li
                  > 下着
      .footer__container
        %dl
          %dt
            お問い合わせ
          %dd
            %ul
              %li
                > アニーについて
              %li
                > annie.jane@gmail.com
.copyright
  ©ANNIE&CO. All Rights Reserved.
