%footer.footer
  .footer__top-content.flexbox
    .footer__sns-icons.flexbox
      <img src="<?php echo get_template_directory_uri(); ?>/images/white-facebook.svg" width="50">
      <img src="<?php echo get_template_directory_uri(); ?>/images/white-twitter.svg" width="50">
      <img src="<?php echo get_template_directory_uri(); ?>/images/white-instagram.svg" width="50">
    .footer__logo-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/white-logo.svg" width="50">
    %p.footer__about-detail-text
      アニーは、日本ではまだ知られていないアメリカ現地の人気（日本未上陸）ブランドを紹介するオンラインショッピングメディアです。
  .footer__bottom-content
    .footer__about-annie
      %dl
        %dt
          ANNIEについて
        %dd
          >ANNIEとは
          >セリュリテーポリシー
      %dl
        %dt
          カテゴリー
        %dd.flexbox
          >ファッション
          >ビューティー
          >ライフスタイル
          >インテリア
      %dl
        %dt
          アイテム
        %dd.flexbox
          >トップス
          >ボトムス
          >アクセサリー
          >下着
      %dl
        %dt
          お問い合わせ
        %dd.flexbox
　　　　　　>suzukiyuca@gmail.com

