%header.outer__header.header
  .flexbox--spacebetween
    .sns-icons
      .flexbox
        <img src="<?php echo get_template_directory_uri(); ?>/images/facebook-icon.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/twitter-icon.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/instagram-icon.svg">
    .logo
      .logo__img
        <img src="<?php echo get_template_directory_uri(); ?>/images/annie-logo.svg" width="250">
      %h1.sub-title
        ポートランドから、自由奔放『BOHO』ファッションをお届け。海外通販メディア
    .info
      %ul.nav-menu.flexbox
        %li
          ANNIEについて
        %li
          ポートランドオレゴン州
      .search__box
        <?php get_search_form(); ?>