%header.outer__header.header
  .flexbox--spacebetween
    <?php include('sns-icons.php'); ?>
    .logo
      .logo__img
        <img src="<?php echo get_template_directory_uri(); ?>/images/annie-logo.svg" width="250">
      %h1.sub-title
        ポートランドから、自由奔放『BOHO』ファッションをお届け。海外通販メディア
    .info
      %ul.nav-menu.flexbox
        %li
          <a title="Site Map" href="./about.php">ANNIEについて</a>
        %li
          ポートランドオレゴン州
      .search__box
        <?php get_search_form(); ?>
