%header.header
  .sns-icons
  .logo
    %h1.logo__h1
      アメリカから自由奔放『BOHO』ファッションをお届け。
    %img.logo__img
  %ul.nav-menu
    %li
      ANNIEについて
    %li
      ポートランドオレゴン州
  .search
    %input.search__input
    %button.search__btn
  .notice-bar
  %ul.breadcrumb
    %li
      home


