%header.outer__header.header02
  .flexbox--spacebetween
    <?php include('sns-icons.php'); ?>
    .info
      %ul.nav-menu.flexbox
        %li
          ANNIEについて
        %li
          ポートランドオレゴン州
      .search__box
        <?php get_search_form(); ?>
  .breadcrumb
    :plain
      <div class="breadcrumbs">
        <?php if(function_exists('bcn_display'))
        {
        bcn_display();
        }?>
      </div>

