%header.outer__header.header02
  .flexbox--spacebetween
    .sns-icons
      .flexbox
        <img src="<?php echo get_template_directory_uri(); ?>/images/facebook-icon.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/twitter-icon.svg">
        <img src="<?php echo get_template_directory_uri(); ?>/images/instagram-icon.svg">
    .info
      %ul.nav-menu.flexbox
        %li
          ANNIEについて
        %li
          ポートランドオレゴン州
      .search__box
        <?php get_search_form(); ?>
  .breadcrumb
    :plain
      <div class="breadcrumbs">
        <?php if(function_exists('bcn_display'))
        {
        bcn_display();
        }?>
      </div>

