<?php include('head.php'); ?>
%body
  .outer
    <?php include('components-php/header.php'); ?>
    .outer__inner.flexbox--h-center
      .side-menu-list
        %dl
          %dt.side-menu-list__title
            記事
          %dd
            %span.arrow
              >
            ファッション
          %dd
            %span.arrow
              >
            ライフスタイル
          %dd
            %span.arrow
              >
            ビューティー
          %dd
            %span.arrow
              >
            インテリア
        %dl
          %dt.side-menu-list__title
            購入可能アイテム
          %dd
            %span.arrow
              >
            全て
          %dd
            %span.arrow
              >
            ボトムス
          %dd
            %span.arrow
              >
            上着
          %dd
            %span.arrow
              >
            雑貨
          %dd
            %span.arrow
              >
            コスメ
          %dd
            %span.arrow
              >
            アクセサリー
        %dl
          %dt.side-menu-list__title
            日本未上陸ブランド
          %dd
            %span.arrow
              >
            genuine People
            .japanese
              ジェーニーピーポー
          %dd
            %span.arrow
              >
            threebirdnest
            .japanese
              スリーバードネスト
        %dl
          %dt.side-menu-list__title
            ポートランドブランド
          %dd
            %span.arrow
              >
            genuine People
            .japanese
              ジェーニーピーポー
          %dd
            %span.arrow
              >
            threebirdnest
            .japanese
              スリーバードネスト
      .column-6.middle-contain
        .bg-thumb-img
          <img src="<?php echo get_template_directory_uri(); ?>/images/index-top-banner.png" width="478px">
        %ul.article-list
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample1.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample2.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
          %li.flexbox
            .article-list__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/sample3.png">
            .article-list__text
              %h3.list-title
                bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
              %p.list-read
                ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。ここ人は本文が入ります。
              .icons.flexbox
                .icons__tag
                  購入可能
                .icons__tag
                  日本未上陸
        .sns-area.flexbox
          .sns-area__img
            <img src="<?php echo get_template_directory_uri(); ?>/images/sns-area-pic.png">
          .sns-area__info
            .sns-area__logo
              <img src="<?php echo get_template_directory_uri(); ?>/images/black-logo.svg" width="80">
            .sns-area__title
              ANNIEの最新情報をチェックしよう！
            .sns-icons.flexbox
              <img src="<?php echo get_template_directory_uri(); ?>/images/squere-Instagram.svg" width="50">
              <img src="<?php echo get_template_directory_uri(); ?>/images/squere-facebook.svg" width="50">
              <img src="<?php echo get_template_directory_uri(); ?>/images/squere-witter.svg" width="50">
        .shopping-banner
          <img src="<?php echo get_template_directory_uri(); ?>/images/shopping-baner.svg">
      .column-4.side-contain
        .featured-box
          %h3.featured-box__header
            未上陸ブランドを購入しよう！冬の『BOHO』ファッション特集
          .featured-img
            <img src="<?php echo get_template_directory_uri(); ?>/images/side-featured.png" width="312">
          %p.featured-box__read
            bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
        %dl.news-list
          %dt
            .header-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/news.svg">
          %dd.news-list__content.flexbox
            .news-list__number-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/1.svg">
            .news-list__thumb-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
            %p.news-list__title
              bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
          %dd.news-list__content.flexbox
            .news-list__number-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/2.svg">
            .news-list__thumb-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
            %p.news-list__title
              bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
          %dd.news-list__content.flexbox
            .news-list__number-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/3.svg">
            .news-list__thumb-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
            %p.news-list__title
              bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
          %dd.news-list__content.flexbox
            .news-list__number-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/4.svg">
            .news-list__thumb-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
            %p.news-list__title
              bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
          %dd.news-list__content.flexbox
            .news-list__number-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/5.svg">
            .news-list__thumb-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
            %p.news-list__title
              bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
        .keywords
          .header-img
            <img src="<?php echo get_template_directory_uri(); ?>/images/keywords.svg">
          .keywords__content.flexbox
            .keywords__tag
              古着
            .keywords__tag
              冬物コート
            .keywords__tag
              日本未上陸ブランド
            .keywords__tag
              ブーツ
            .keywords__tag
              ルームウェア
        %dl.models-lists
          %dt.header-img
            <img src="<?php echo get_template_directory_uri(); ?>/images/models.svg">
          %dd.flexbox
            .models-lists__prof-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
            .models-lists__text
              .model-name
                beru
              .model-info
                アメリカポートランド在住
          %dd.flexbox
            .models-lists__prof-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
            .models-lists__text
              .model-name
                beru
              .model-info
                アメリカポートランド在住
          %dd.flexbox
            .models-lists__prof-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
            .models-lists__text
              .model-name
                beru
              .model-info
                アメリカポートランド在住
          %dd.flexbox
            .models-lists__prof-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
            .models-lists__text
              .model-name
                beru
              .model-info
                アメリカポートランド在住
          %dd.flexbox
            .models-lists__prof-img
              <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
            .models-lists__text
              .model-name
                beru
              .model-info
                アメリカポートランド在住
<?php include('components-php/footer.php'); ?>

