<?php include('head.php'); ?>
<?php include('components-php/header.php'); ?>
%body
  .outer
    .outer__inner.flexbox--h-center
      .column-2.side-menu-list
        side-left
      .column-6.middle-contain
        middle
      .column-4.side-contain
        side-right
<?php include('components-php/footer.php'); ?>
