.items
  .header-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/ltem.svg">
  %ul.items__content
    %li.items__list
      %i.fa.fa-angle-right
      ボトムス
    %li.items__list
      %i.fa.fa-angle-right
      上着
    %li.items__list
      %i.fa.fa-angle-right
      雑貨
    %li.items__list
      %i.fa.fa-angle-right
      コスメ
    %li.items__list
      %i.fa.fa-angle-right
      アクセサリー
    %li.items__list
      %i.fa.fa-angle-right
      古着
    %li.items__list
      %i.fa.fa-angle-right
      購入可能
    %li.items__list
      %i.fa.fa-angle-right
      再入荷待ち
