.keywords
  .header-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/keywords.svg">
  .keywords__content.flexbox
    .keywords__tag
      古着
    .keywords__tag
      冬物コート
    .keywords__tag
      日本未上陸ブランド
    .keywords__tag
      ブーツ
    .keywords__tag
      ルームウェア
