%dl.models-lists
  %dt.header-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/models.svg">
  %dd.flexbox
    .models-lists__prof-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .models-lists__text
      .model-name
        beru
      .model-info
        アメリカポートランド在住
  %dd.flexbox
    .models-lists__prof-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .models-lists__text
      .model-name
        beru
      .model-info
        アメリカポートランド在住
  %dd.flexbox
    .models-lists__prof-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .models-lists__text
      .model-name
        beru
      .model-info
        アメリカポートランド在住
  %dd.flexbox
    .models-lists__prof-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .models-lists__text
      .model-name
        beru
      .model-info
        アメリカポートランド在住
  %dd.flexbox
    .models-lists__prof-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .models-lists__text
      .model-name
        beru
      .model-info
        アメリカポートランド在住