.more-search-article
  .more-search-article__title.components-title
    アイテムから記事を探す
  %ul.more-search-article__lists.flexbox
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      スカート
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      ジャケット
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      ジーンズ
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      Tシャツ
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      ジャケット
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      ワンピース
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      下着
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      夏物
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      アクセサリー
    %li.more-search-article__list
      %icon.fa.fa-angle-right
      アロマ
