.more-search-article
  .more-search-article__title.components-title
    アイテムから記事を探す
  %ul.more-search-article__lists.flexbox
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>トップス</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ジャケット</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ジーンズ</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i> Tシャツ</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ジャケット</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ワンピース</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>下着</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>夏物</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>アクセサリー</a>
    %li.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>アロマ</a>
