.more-search-article
  .more-search-article__title
    アイテムから記事を探す
  .more-search-article__table
    %table
      %tbody
        %tr
          %td
            %i.fa.fa-angle-right
            テーシャツ
          %td
            %i.fa.fa-angle-right
            スカート
          %td
            %i.fa.fa-angle-right
            冬物コート
        %tr
          %td
            %i.fa.fa-angle-right
            古着
          %td
            %i.fa.fa-angle-right
            ジーンズ
          %td
            %i.fa.fa-angle-right
            ジャケット
