%dl.news-list
  %dt
    .header-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/news.svg">
  %dd.news-list__content.flexbox
    .news-list__number-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/1.svg">
    .news-list__thumb-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
    %p.news-list__title
      bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
  %dd.news-list__content.flexbox
    .news-list__number-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/2.svg">
    .news-list__thumb-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
    %p.news-list__title
      bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
  %dd.news-list__content.flexbox
    .news-list__number-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/3.svg">
    .news-list__thumb-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
    %p.news-list__title
      bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
  %dd.news-list__content.flexbox
    .news-list__number-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/4.svg">
    .news-list__thumb-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
    %p.news-list__title
      bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。
  %dd.news-list__content.flexbox
    .news-list__number-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/5.svg">
    .news-list__thumb-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-test1.png">
    %p.news-list__title
      bohoスタイルの火付け役『アンソロジー』のゆるふあチェックカーデが可愛い。