.side-menu-list
  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-list-ul
      カテゴリーから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/category/fashion/" <?php if(is_category('fashion')) echo 'class="iscurrent"'; ?>>ファション</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/gourmet/" <?php if(is_category('gourmet')) echo 'class="iscurrent"'; ?>>お出かけ/グルメ</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/lifestyle/" <?php if(is_category('lifestyle')) echo 'class="iscurrent"'; ?>>ライフ/DIY</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/cosmetics/" <?php if(is_category('cosmetics')) echo 'class="iscurrent"'; ?>>美容/コスメ</a>

  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-heart
      アイテムから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>>トップス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/bottoms/" <?php if(is_tag('bottoms')) echo 'class="iscurrent"'; ?>>ボトムス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/dresses/" <?php if(is_tag('dresses')) echo 'class="iscurrent"'; ?>>ドレス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/accessories/" <?php if(is_tag('accessories')) echo 'class="iscurrent"'; ?>>アクセサリー</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/lingerie/" <?php if(is_tag('lingerie')) echo 'class="iscurrent"'; ?>>ランジェリー</a>

  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-bookmark
      ブランドから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/tag/genuineeople/" <?php if(is_tag('genuineeople')) echo 'class="iscurrent"'; ?>>genuine People</a>



