.side-menu-list
  %dl
    %dt.side-menu-list__title
      記事
    %dd
      %span.arrow
        >
      ファッション
    %dd
      %span.arrow
        >
      ライフスタイル
    %dd
      %span.arrow
        >
      ビューティー
    %dd
      %span.arrow
        >
      インテリア
  %dl
    %dt.side-menu-list__title
      購入可能アイテム
    %dd
      %span.arrow
        >
      全て
    %dd
      %span.arrow
        >
      ボトムス

    %dd
      %span.arrow
        >
      上着
    %dd
      %span.arrow
        >
      雑貨
    %dd
      %span.arrow
        >
      コスメ
    %dd
      %span.arrow
        >
      アクセサリー
  %dl
    %dt.side-menu-list__title
      日本未上陸ブランド
    %dd
      %span.arrow
        >
      genuine People
      .japanese
        ジェーニーピーポー
    %dd
      %span.arrow
        >
      threebirdnest
      .japanese
        スリーバードネスト
  %dl
    %dt.side-menu-list__title
      ポートランドブランド
    %dd
      %span.arrow
        >
      genuine People
      .japanese
        ジェーニーピーポー
    %dd
      %span.arrow
        >
      threebirdnest
      .japanese
        スリーバードネスト