.side-menu-list

  .side-menu-list__li
    %p.side-menu-list__title
      記事
    <?php wp_list_categories('child_of=3&title_li='); ?>

  .side-menu-list__li
    %p.side-menu-list__title
      購入アイテム
    <?php wp_list_categories('child_of=7&title_li='); ?>

  .side-menu-list__li
    %p.side-menu-list__title
      日本未上陸ブランド
    <?php wp_list_categories('child_of=15&title_li='); ?>

  .side-menu-list__li
    %p.side-menu-list__title
      ポートランドブランド
    <?php wp_list_categories('child_of=18&title_li='); ?>
