<?php include('head.php'); ?>
%body
  .single-page.outer
    <?php include('components-php/header.php'); ?>
    %h2.notice-bar
      お知らせ：ショッピングサイト『アニー』OPEN!!! ファッションの街、ポートランドから日本へ現地の新商品を紹介。
    %ul.breadcrumb
      %li
        シングルページ
    .outer__inner.flexbox--h-center
      .column-8.middle-contain
        %h1.single-page__head-title
          <?php the_title_attribute(); ?>
        .flexbox--spacebetween
          .Published-brands-category
            %i.fa.fa-tag
            <?php the_tags( '分類タグ : ',' 　' ); ?>
            %span
              <?php $slug_name = basename(get_permalink()); ?>
          .dates
            %i.fa.fa-clock-o
            <?php the_time('Y/m/d'); ?>
        .flexbox--spacebetween
          .article-sns-btns.flexbox
            <img src="<?php echo get_template_directory_uri(); ?>/images/facebook-btn.svg">
            <img src="<?php echo get_template_directory_uri(); ?>/images/twitter-btn.svg">
            <img src="<?php echo get_template_directory_uri(); ?>/images/poket-btn.svg">

        .single-page__eyecatch-img
          <img src="<?php echo get_template_directory_uri(); ?>/images/single-img-top.png" width="644px">

        .single-page__entry-content
          <?php
          $this_content= wpautop($post->post_content);
          echo $this_content;
          ?>


        -#
          %h2.headline-second
            未上陸ブランドを購入しよう！冬の『BOHO』ファッション特集
          <img src="<?php echo get_template_directory_uri(); ?>/images/instagram-pic-test1.png">
          .detail-box01
            .detail-box01__title
              お店の名前
            .detail-box01__contain
              住所
              %a
                5114 SE OGDEN PORTLAND 97206
                %i.fa.fa-external-link
              %br
              WEBサイト
              %a
                http://hatchstudioinc.com/
                %i.fa.fa-external-link
          %h3.headline-third
            h3-『boho』スタイルとは。
          %p
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本
          .detail-box02.flexbox
            .detail-box02__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/link-box.png">
            .detail-box02__txt
              ＞関連記事リンク
              .detail-box02__title
                %a
                  関連記事タイトルタイトルタイトルタイトルタイトルタイトル
                  %i.fa.fa-external-link
              .detail-box02__read
                関連記事の本文の本文の本文の本文の本文の本文の本文の本文の本文の本文関連記事の本文の本文の本文の本文の本文の本文の本文の本文の本文の
          %h3.headline-third
            h3-『boho』スタイルとは。
          %p
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本
          <img src="<?php echo get_template_directory_uri(); ?>/images/single-img-top.png" width="644px">
          %p
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本
          .detail-box03.flexbox
            .detail-box03__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/product-test1.png">
            .detail-box03__txt
              .detail-box03__title
                %i.fa.fa-angle-right
                SPELL ANGELS TANK
              .detail-box03__price
                ¥8500円
              .detail-box03__brand
                spelldesigns
                %i.fa.fa-external-link
              .detail-box03__read
                本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
                本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
                １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
                １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
                文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
                文１本文１本文１本文１本
              .flexbox--spacebetween
                .detail-box03__shipping
                  日本発送可能
                .detail-box03__similar-products
                  %i.fa.fa-arrow-right
                  類似の商品をもっと探す
              .detail-box03__btn
                この商品を購入する

          .detail-box03.flexbox
            .detail-box03__img
              <img src="<?php echo get_template_directory_uri(); ?>/images/product-test2.png">
            .detail-box03__txt
              .detail-box03__title
                %i.fa.fa-angle-right
                DUSK BOILER
              .detail-box03__price
                ¥18500円
              .detail-box03__brand
                spelldesigns
              .detail-box03__read
                本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
                本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
                １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
                １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
                文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
                文１本文１本文１本文１本
              .flexbox--spacebetween
                .detail-box03__shipping
                  日本発送可能
                .detail-box03__similar-products
                  %i.fa.fa-arrow-right
                  類似の商品をもっと探す
              .detail-box03__btn
                ♡この商品欲しい (1)
              .detail-box03__btn-subtxt
                ５以上のクリックで販売開始を検討します。
          %p
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１
            本文１本文１本文１本文１本文１本文１本文１本文１本文１本本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文
            １本文１本文１本文１本文１本文１本文１本本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本文１本
            文１本文１本文１本文１本


        <?php include('components-php/wrote-models-box.php'); ?>
        <?php include('components-php/article-sns-btns.php'); ?>
        <?php include('components-php/related-article.php'); ?>
        <?php include('components-php/more-search-article.php'); ?>
        <?php include('components-php/sns-box.php'); ?>
        <?php include('components-php/shopping-box.php'); ?>
      .column-4.side-contain
        <?php include('components-php/featured-box.php'); ?>
        <?php include('components-php/news-list.php'); ?>
        <?php include('components-php/items.php'); ?>
        <?php include('components-php/keywords.php'); ?>
        <?php include('components-php/models-lists.php'); ?>
<?php include('components-php/footer.php'); ?>

