.instagram-models-lists
  .instagram-models-lists__container
    .instagram-models-lists__header
      この記事のインスタモデル
    .instagram-models-lists__models
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">
    .instagram-models-lists__models
      <img src="<?php echo get_template_directory_uri(); ?>/images/yuca.png">