@media (min-width: 680px) {

  .outer{
    &__header{
      margin: 20px;
    }
    &__inner{
      //width: 100%;
      margin: 0 auto;
    }
    &__foot{
      width: 100%;
      margin: 0 auto;
    }




  }

  .footer{
    &__sns-icons img {
      width: 30px;
      height: 30px;
    }
    &__bottom-content{
      background-color: #f2716e;
      color: #fff;
      padding-bottom: 50px;
    }

  }


  .header-sp{
   display: none;
  }
  .footer-sp{
    display: none;
  }

  .alternate-banner{
    display: none;
  }

  .container{
    padding: $base_margin;
    min-width: $base_width;
  }

  .middle-contain{
    width: 561px;
  }

  .side-contain{
    width: 312px;
  }

  /*

	single.page

*************************************************/


  .single-page {

    .middle-contain {
      width: 644px;
    }

    &__eyecatch-img img {
      width: 644px;
      height: 380px;
      object-fit: cover;
    }

    &__eyecatch-img {
      padding: 30px 0;
    }

    &__entry-content {
      .detail-box02 {
        &__title {
          @include fts(9, 9);
          line-height: 21px;
        }
      }
    }
  }
}